.cat-page {
    padding: 20px;
    color: white;
}

.cat-title {
    font-size: 28px;
    margin-bottom: 30px;
    border-bottom: 2px solid #7A0000;
    padding-bottom: 10px;
}

.add-cat-box {
    background: #111;
    padding: 20px;
    border: 1px solid #7A0000;
    width: 400px;
    margin-bottom: 30px;
}

.add-cat-box h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #ff9999;
}

.add-cat-box input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #444;
    font-size: 15px;
}

.add-cat-box p {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.add-cat-box label {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

.add-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #7A0000;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.add-btn:hover {
    background: #b30707;
}

.cat-list {
    margin-top: 70px;
}

.cat-list h3 {
    margin-top: 70px;
    color: rgb(200, 119, 119);
}

.cat-list p {
    margin-top: 10px;
    color: rgb(6, 113, 22);
}

.cat-item-default {
    display: flex;
    justify-content: center;
    background: #1A1A1A;
    padding: 12px;
    margin-top: 20px;
    border-bottom: 1px solid #333;
    align-items: center;
}

.del-btn {
    background: #a00000;
    border: none;
    padding: 6px 12px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.del-btn:hover {
    background: #d30000;
}