@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.details-features-section {
    background-color: #1b1919;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.details-features-container {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 250px;
    margin-top: 50px;
}

.details-feature-item {
    position: relative;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
}

.details-feature-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.details-feature-item:hover img {
    transform: scale(1.05);
}

.details-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
}

.details-feature-title {
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 450;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 15%;
    text-align: center;
    opacity: 0.8;
}

.details-feature-subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
}


@media (max-width: 1550px) {
    .details-features-section {
        width: 100%;
        height: 100%;
    }

    .details-features-container {
        gap: 15px;
        width: 100%;
        height: 170px;
        margin-top: 60px;
    }

    .details-feature-item img {
        width: 100%;
        height: 170px;
    }

    .details-feature-title {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .details-feature-subtitle {
        font-size: 26px;
    }
}

@media (max-width: 1025px) {
  .details-features-container {
    height: 150px;
  }

  .details-feature-item img {
    height: 150px;
  }

  .details-feature-title {
    font-size: 16px;
  }

  .details-feature-subtitle {
    font-size: 25px;
  }
}

@media (max-width: 900px) {
  .details-features-container {
    height: 130px;
  }

  .details-feature-item img {
    height: 130px;
  }

  .details-feature-title {
    font-size: 14px;
  }

  .details-feature-subtitle {
    font-size: 19px;
  }
}

@media (max-width: 600px) {
    .details-features-section {
        width: 100%;
        height: 100%;
    }

    .details-features-container {
        gap: 10px;
        width: 100%;
        height: 120px;
        margin-top: 10px;
    }

    .details-feature-item img {
        width: 100%;
        height: 120px;
    }

    .details-feature-title {
        margin-bottom: 18px;
        font-size: 12px;
    }

    .details-feature-subtitle {
        font-size: 19px;
    }
}

@media (max-width: 520px) {
    .details-features-section {
        width: 100%;
        height: 100%;
    }

    .details-features-container {
        gap: 10px;
        width: 100%;
        height: 100px;
        margin-top: 10px;
    }

    .details-feature-item img {
        width: 100%;
        height: 100px;
    }

    .details-feature-title {
        margin-bottom: 15px;
        font-size: 11px;
    }

    .details-feature-subtitle {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
  .details-features-container {
    margin-top: 6px;
    height: 90px;
  }

  .details-feature-item img {
    height: 100%;
    width: 100%;
  }

  .details-feature-title {
    font-size: 10px;
  }

  .details-feature-subtitle {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
    .details-features-section {
        width: 100%;
        height: 100%;
    }

    .details-features-container {
        gap: 10px;
        width: 100%;
        height: 90px;
        margin-top: 0px;
    }

    .details-feature-item img {
        width: 100%;
        height: 90px;
    }

    .details-feature-title {
        margin-bottom: 15px;
        font-size: 8px;
    }

    .details-feature-subtitle {
        font-size: 15px;
    }
}