@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.sommelier-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #272323;
}

.sommelier-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.sommelier-image {
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 1;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sommelier-overlay {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 107%;
  z-index: 1;
  clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%);
}

.sommelier-text {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 50%;
}

.sommelier-text h4 {
  font-family: "Alex Brush";
  font-size: 60px;
  font-weight: 400;
  font-style: italic;
  opacity: 0.8;
  margin-bottom: 20px;
}

.sommelier-text h2 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 25px;
}

.sommelier-text p {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
}

@media (max-width: 1550px) {
  .sommelier-image {
    width: 50%;
    height: 300px;
  }

  .main-img {
    width: 100%;
    height: 100%;
  }

  .sommelier-overlay {
    width: 60%;
    height: 100%;
  }

  .overlay-img {
    width: 100%;
    height: 100%;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .sommelier-text {
    max-width: 55%;
  }

  .sommelier-text h4 {
    font-size: 60px;
    margin-bottom: 20px;
  }

  .sommelier-text h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .sommelier-text p {
    font-size: 16px;
  }
}

@media (max-width: 1290px) {
  .sommelier-image {
    width: 50%;
    height: 300px;
  }

  .main-img {
    width: 100%;
    height: 100%;
  }

  .sommelier-overlay {
    width: 60%;
    height: 100%;
  }

  .overlay-img {
    width: 100%;
    height: 108%;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .sommelier-text {
    max-width: 70%;
  }

  .sommelier-text h4 {
    font-size: 60px;
    margin-bottom: 20px;
  }

  .sommelier-text h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .sommelier-text p {
    font-size: 16px;
  }
}

@media (max-width: 1075px) {
  .sommelier-image {
    width: 50%;
    height: 270px;
  }

  .main-img {
    width: 93%;
    height: 100%;
  }

  .sommelier-overlay {
    width: 60%;
    height: 100%;
  }

  .overlay-img {
    width: 105%;
    height: 108%;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .sommelier-text {
    max-width: 80%;
  }

  .sommelier-text h4 {
    font-size: 60px;
    margin-bottom: 10px;
  }

  .sommelier-text h2 {
    font-size: 34px;
    margin-bottom: 32px;
  }

  .sommelier-text p {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .sommelier-image {
    width: 50%;
    height: 250px;
  }

  .main-img {
    width: 94%;
    height: 100%;
  }

  .sommelier-overlay {
    width: 60%;
    height: 100%;
  }

  .overlay-img {
    width: 103%;
    height: 108%;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .sommelier-text {
    max-width: 80%;
  }

  .sommelier-text h4 {
    font-size: 55px;
    margin-bottom: 10px;
  }

  .sommelier-text h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .sommelier-text p {
    font-size: 14px;
  }
}

@media (max-width: 770px) {
  .sommelier-image {
    width: 50%;
    height: 240px;
  }

  .main-img {
    width: 94%;
    height: 100%;
  }

  .sommelier-overlay {
    width: 60%;
    height: 100%;
  }

  .overlay-img {
    width: 104%;
    height: 108%;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .sommelier-text {
    max-width: 85%;
  }

  .sommelier-text h4 {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .sommelier-text h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .sommelier-text p {
    font-size: 12px;
  }
}

@media (max-width: 630px) {
  .sommelier-image {
    width: 50%;
    height: 220px;
  }

  .main-img {
    width: 93%;
    height: 100%;
  }

  .sommelier-overlay {
    width: 60%;
    height: 100%;
  }

  .overlay-img {
    width: 106%;
    height: 108%;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .sommelier-text {
    max-width: 90%;
  }

  .sommelier-text h4 {
    font-size: 45px;
    margin-bottom: 10px;
  }

  .sommelier-text h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .sommelier-text p {
    font-size: 10px;
  }
}

@media (max-width: 540px) {
  .sommelier-image {
    width: 50%;
    height: 220px;
  }

  .main-img {
    width: 96%;
    height: 100%;
  }

  .sommelier-overlay {
    width: 60%;
    height: 100%;
  }

  .overlay-img {
    width: 107%;
    height: 108%;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .sommelier-text {
    max-width: 90%;
  }

  .sommelier-text h4 {
    font-size: 40px;
    margin-bottom: 8px;
  }

  .sommelier-text h2 {
    font-size: 19px;
    margin-bottom: 20px;
  }

  .sommelier-text p {
    font-size: 9px;
  }
}

@media (max-width: 490px) {
  .sommelier-image {
    width: 50%;
    height: 165px;
  }

  .main-img {
    width: 95%;
    height: 100%;
  }

  .sommelier-overlay {
    width: 60%;
    height: 100%;
  }

  .overlay-img {
    width: 107%;
    height: 108%;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .sommelier-text {
    max-width: 90%;
  }

  .sommelier-text h4 {
    font-size: 33px;
    margin-bottom: 8px;
    margin-top: 10px;
  }

  .sommelier-text h2 {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .sommelier-text p {
    font-size: 8px;
  }
}

@media (max-width: 410px) {
  .sommelier-image {
    width: 50%;
    height: 160px;
  }

  .main-img {
    width: 96%;
    height: 100%;
  }

  .sommelier-overlay {
    width: 60%;
    height: 100%;
  }

  .overlay-img {
    width: 108%;
    height: 108%;
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);
  }

  .sommelier-text {
    max-width: 90%;
  }

  .sommelier-text h4 {
    font-size: 28px;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .sommelier-text h2 {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .sommelier-text p {
    font-size: 8px;
  }
}
