@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.recommended-section {
  padding: 60px 80px;
  background-color: #1b1919;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.recommended-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 60px;
  letter-spacing: 1px;
  font-family: "Inter";
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider-track {
  display: flex;
  gap: 35px;
  transition: transform 0.5s ease;
}

.recommended-card {
  background: #0a0a0a;
  padding: 18px;
  width: 330px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.recommended-card:hover {
  transform: translateY(-5px);
}

.recommended-card .image-wrapper {
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommended-card .image-wrapper img {
  width: 36%;
  height: 105%;
}

.recommended-card .rec-name {
  margin: 18px 0 8px;
  font-weight: 600;
}

.recommended-card .rec-meta {
  color: #bdbdbd;
  font-size: 13px;
}

.recommended-card .rec-price {
  font-weight: 700;
  font-size: 15px;
}

.recommended-card .price-row {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recommended-card .rec-btn {
  background: #7a0000;
  color: #fff;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  transition: 0.3s;
}

.recommended-card .rec-btn:hover {
  background: #c00;
}

.arrow {
  background: none;
  border: 1px solid #666;
  color: white;
  font-size: 20px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  background: #7a0000;
  border-color: #7a0000;
}

.arrow.left {
  position: absolute;
  left: -60px;
}

.arrow.right {
  position: absolute;
  right: -60px;
}

.pagination-dots {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #555;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: #a50000;
}

.view-all-btn {
  font-family: "Inter";
  font-weight: 800;
  font-size: 15px;
  color: #FFFFFF;
  background: none;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.view-all-btn:hover {
  color: #a50000;
}


@media (max-width:820px) {
  .recommended-section {
    padding: 60px 80px;
  }

  .recommended-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 60px;
  }

  .slider-track {
    gap: 35px;
  }

  .recommended-card {
    padding: 18px;
    width: 300px;
  }

  .recommended-card .image-wrapper {
    height: 300px;
  }

  .recommended-card .image-wrapper img {
    width: 36%;
    height: 105%;
  }

  .recommended-card .rec-name {
    margin: 18px 0 8px;
    font-weight: 600;
  }

  .recommended-card .rec-meta {
    color: #bdbdbd;
    font-size: 13px;
  }

  .recommended-card .rec-price {
    font-weight: 700;
    font-size: 15px;
  }

  .recommended-card .price-row {
    margin-top: 12px;
  }

  .recommended-card .rec-btn {
    padding: 10px 14px;
    font-size: 13px;
  }

  .arrow {
    font-size: 20px;
    width: 38px;
    height: 38px;
  }

  .arrow.left {
    left: -60px;
  }

  .arrow.right {
    right: -60px;
  }

  .pagination-dots {
    margin-top: 30px;
    gap: 8px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }

  .view-all-btn {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .recommended-section {
    padding: 60px 80px;
  }

  .recommended-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 60px;
  }

  .slider-track {
    gap: 35px;
  }

  .recommended-card {
    padding: 18px;
    width: 250px;
  }

  .recommended-card .image-wrapper {
    height: 270px;
  }

  .recommended-card .image-wrapper img {
    width: 30%;
    height: 95%;
  }

  .recommended-card .rec-name {
    margin: 18px 0 8px;
    font-weight: 600;
  }

  .recommended-card .rec-meta {
    color: #bdbdbd;
    font-size: 12px;
  }

  .recommended-card .rec-price {
    font-size: 15px;
  }

  .recommended-card .price-row {
    margin-top: 12px;
  }

  .recommended-card .rec-btn {
    padding: 10px 14px;
    font-size: 11px;
  }

  .arrow {
    font-size: 21px;
    width: 40px;
    height: 40px;
  }

  .arrow.left {
    left: -60px;
  }

  .arrow.right {
    right: -60px;
  }

  .pagination-dots {
    margin-top: 30px;
    gap: 8px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }

  .view-all-btn {
    font-size: 15px;
  }
}

@media (max-width: 660px) {
  .recommended-section {
    padding: 60px 80px;
  }

  .recommended-title {
    font-size: 18px;
    margin-bottom: 60px;
  }

  .slider-track {
    gap: 35px;
  }

  .recommended-card {
    padding: 18px;
    width: 220px;
  }

  .recommended-card .image-wrapper {
    height: 270px;
  }

  .recommended-card .image-wrapper img {
    width: 35%;
    height: 85%;
  }

  .recommended-card .rec-name {
    margin: 18px 0 8px;
    font-weight: 600;
  }

  .recommended-card .rec-meta {
    color: #bdbdbd;
    font-size: 12px;
  }

  .recommended-card .rec-price {
    font-size: 15px;
  }

  .recommended-card .price-row {
    margin-top: 12px;
  }

  .recommended-card .rec-btn {
    padding: 10px 14px;
    font-size: 11px;
  }

  .arrow {
    font-size: 21px;
    width: 40px;
    height: 40px;
  }

  .arrow.left {
    left: -60px;
  }

  .arrow.right {
    right: -60px;
  }

  .pagination-dots {
    margin-top: 30px;
    gap: 8px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }

  .view-all-btn {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  .recommended-section {
    padding: 60px 80px;
  }

  .recommended-title {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .slider-track {
    gap: 35px;
  }

  .recommended-card {
    padding: 18px;
    width: 280px;
  }

  .recommended-card .image-wrapper {
    height: 300px;
  }

  .recommended-card .image-wrapper img {
    width: 33%;
    height: 95%;
  }

  .recommended-card .rec-name {
    margin: 18px 0 8px;
  }

  .recommended-card .rec-meta {
    font-size: 12px;
  }

  .recommended-card .rec-price {
    font-size: 15px;
  }

  .recommended-card .price-row {
    margin-top: 12px;
  }

  .recommended-card .rec-btn {
    padding: 10px 14px;
    font-size: 11px;
  }

  .arrow {
    font-size: 19px;
    width: 35px;
    height: 35px;
  }

  .arrow.left {
    left: -75px;
  }

  .arrow.right {
    right: -75px;
  }

  .pagination-dots {
    margin-top: 30px;
    gap: 8px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }

  .view-all-btn {
    font-size: 15px;
    margin-top: 40px;
    margin-left: 50px;
  }
}