.fav-page {
  background-color: #1b1919;
  color: white;
  padding: 80px 100px;
  min-height: 100vh;
}

.fav-title {
  font-size: 26px;
  margin-bottom: 30px;
}

.fav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1c1c1c;
  padding: 20px;
  border-radius: 6px;
}

.fav-item img {
  width: 80px;
  height: 120px;
  object-fit: contain;
  background: black;
  padding: 5px;
}

.fav-info h3 {
  font-size: 18px;
}

.fav-info p {
  color: #bbbbbb;
  margin-top: 5px;
}

.fav-price {
  margin-top: 10px;
  font-weight: 700;
}

.fav-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.fav-cart {
  background: #7a0000;
  color: white;
  border: none;
  padding: 10px 14px;
  font-weight: 700;
  cursor: pointer;
}

.fav-remove {
  background: none;
  border: none;
  color: #b30000;
  font-size: 20px;
  cursor: pointer;
}

.fav-message {
  background: #7A0000;
  color: white;
  padding: 12px 18px;
  margin-bottom: 20px;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  animation: fadeInOut 2s ease;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}