.cart-page {
  background-color: #1b1919;
  color: #fff;
  padding: 80px 100px;
  min-height: 100vh;
}

.cart-title {
  font-size: 25px;
  margin-bottom: 40px;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.header-label {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #bdbdbd;
  text-transform: uppercase;
}

.cart-row .col-price,
.cart-row .col-total,
.cart-row .product-text h3,
.cart-row .product-text p {
  font-size: 15px;
  color: white;
}

.cart-table {
  flex: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-header,
.cart-row {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  align-items: center;
  background: #1b1919;
  padding: 20px 25px;
}

.cart-header {
  background: #111;
  color: white;
  font-weight: 600;
}

.cart-row {
  background: black;
}

.cart-product-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.cart-product-img {
  width: 90px;
  height: 130px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-product-img img {
  width: 35px;
  height: 120px;
}

.cart-product-text h3 {
  font-size: 16px;
  font-weight: 600;
}

.cart-product-text p {
  color: #bdbdbd;
  font-size: 13px;
  margin-top: 8px;
}

.col-price,
.col-qty,
.col-total {
  text-align: center;
}

.quantity {
  display: inline-flex;
  align-items: center;
  background: #111;
  border: 1px solid #333;
}

.quantity button {
  color: white;
  font-size: 17px;
  padding: 5px 10px;
  cursor: pointer;
}

.quantity span {
  padding: 0 10px;
}

.remove {
  color: #a50000;
  font-size: 18px;
  margin-left: 15px;
  cursor: pointer;
}

.cart-summary {
  flex: 0 0 320px;
  width: 320px;
  background: black;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.summary-line,
.summary-total {
  display: flex;
  justify-content: space-between;
}

.checkout-btn {
  background: #7A0000;
  color: #fff;
  border: none;
  padding: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.checkout-btn:hover {
  background: #a50000;
}

.old-price {
  text-decoration: line-through;
  opacity: 0.6;
  margin-right: 8px;
  display: inline-block;
}

.discount-price {
  color: #ff4d4f;
  font-weight: 600;
}


@media (max-width: 1300px) {
  .cart-title {
    font-size: 23px;
  }

  .col-price,
  .col-qty,
  .col-total,
  .header-label {
    font-size: 15px;
  }

  .cart-row .col-price,
  .cart-row .col-total,
  .cart-row .product-text h3,
  .cart-row .product-text p {
    font-size: 13px;
  }

  .cart-container {
    gap: 60px;
  }

  .cart-product-info {
    gap: 20px;
  }

  .cart-product-img {
    width: 100px;
    height: 130px;
  }

  .cart-product-img img {
    width: 35px;
    height: 122px;
  }

  .cart-product-text h3 {
    font-size: 15px;
  }

  .cart-product-text p {
    font-size: 12px;
    margin-top: 8px;
  }

  .quantity {
    margin-right: 10px;
  }

  .quantity button {
    font-size: 14px;
    padding: 7px 10px;
  }

  .quantity span {
    padding: 0 10px;
  }

  .remove {
    font-size: 16px;
    margin-left: 15px;
  }

  .cart-summary {
    font-size: 15px;
    padding: 30px;
    gap: 18px;
  }

  .checkout-btn {
    padding: 15px;
    margin-top: 10px;
  }
}

@media (max-width: 1200px) {
  .cart-title {
    font-size: 23px;
  }

  .col-price,
  .col-qty,
  .col-total,
  .header-label {
    font-size: 15px;
  }

  .cart-row .col-price,
  .cart-row .col-total,
  .cart-row .product-text h3,
  .cart-row .product-text p {
    font-size: 11.5px;
  }

  .cart-container {
    gap: 60px;
  }

  .cart-product-info {
    gap: 20px;
  }

  .cart-product-img {
    width: 100px;
    height: 130px;
  }

  .cart-product-img img {
    width: 35px;
    height: 122px;
  }

  .cart-product-text h3 {
    font-size: 15px;
  }

  .cart-product-text p {
    font-size: 12px;
    margin-top: 8px;
  }

  .quantity {
    margin-right: 10px;
  }

  .quantity button {
    font-size: 14px;
    padding: 7px 10px;
  }

  .quantity span {
    padding: 0 10px;
  }

  .remove {
    font-size: 16px;
    margin-left: 15px;
  }

  .cart-summary {
    font-size: 15px;
    padding: 30px;
    gap: 18px;
  }

  .checkout-btn {
    padding: 15px;
    margin-top: 10px;
  }
}

@media (max-width: 1160px) {
  .cart-title {
    font-size: 23px;
  }

  .col-price,
  .col-qty,
  .col-total,
  .header-label {
    font-size: 15px;
  }

  .cart-row .col-price,
  .cart-row .col-total,
  .cart-row .product-text h3,
  .cart-row .product-text p {
    font-size: 11px;
  }

  .cart-container {
    padding: 0px;
    gap: 40px;
  }

  .cart-product-info {
    padding: 0px;
    gap: 10px;
  }

  .cart-product-img {
    width: 100px;
    height: 130px;
  }

  .cart-product-img img {
    width: 35px;
    height: 122px;
  }

  .cart-product-text h3 {
    font-size: 15px;
  }

  .cart-product-text p {
    font-size: 12px;
    margin-top: 8px;
  }

  .quantity {
    margin-right: 10px;
  }

  .quantity button {
    font-size: 14px;
    padding: 7px 10px;
  }

  .quantity span {
    padding: 0 10px;
  }

  .remove {
    font-size: 16px;
    margin-left: 15px;
  }

  .cart-summary {
    font-size: 14.5px;
    padding: 30px;
    gap: 18px;
  }

  .checkout-btn {
    padding: 15px;
    margin-top: 10px;
  }
}

@media (max-width: 1080px) {
  .cart-page {
    padding: 80px 40px;
    min-height: 100vh;
  }

  .cart-title {
    font-size: 22px;
  }

  .col-price,
  .col-qty,
  .col-total,
  .header-label {
    font-size: 15px;
  }

  .cart-row .col-price,
  .cart-row .col-total,
  .cart-row .product-text h3,
  .cart-row .product-text p {
    font-size: 9.5px;
  }

  .cart-container {
    padding: 0px;
    gap: 30px;
  }

  .cart-product-info {
    padding: 0px;
    gap: 10px;
  }

  .cart-product-img {
    width: 100px;
    height: 120px;
  }

  .cart-product-img img {
    width: 32px;
    height: 110px;
  }

  .cart-product-text h3 {
    font-size: 15px;
  }

  .cart-product-text p {
    font-size: 12px;
    margin-top: 8px;
  }

  .quantity {
    margin-right: 10px;
  }

  .quantity button {
    font-size: 14px;
    padding: 7px 10px;
  }

  .quantity span {
    padding: 0 10px;
  }

  .remove {
    font-size: 16px;
    margin-left: 15px;
  }

  .cart-summary {
    font-size: 14.5px;
    padding: 30px;
    gap: 18px;
  }

  .checkout-btn {
    padding: 15px;
    margin-top: 10px;
  }
}

@media (max-width: 950px) {
  .cart-page {
    padding: 80px 60px;
    min-height: 100vh;
  }

  .cart-title {
    font-size: 22px;
  }

  .cart-container {
    flex-direction: column;
    gap: 40px;
  }

  .col-price,
  .col-qty,
  .col-total,
  .header-label {
    font-size: 15px;
  }

  .cart-row .col-price,
  .cart-row .col-total,
  .cart-row .product-text h3,
  .cart-row .product-text p {
    font-size: 14px;
  }

  .cart-container {
    padding: 0px;
    gap: 30px;
  }

  .cart-product-info {
    padding: 0px;
    gap: 10px;
  }

  .cart-product-img {
    width: 120px;
    height: 130px;
  }

  .cart-product-img img {
    width: 38px;
    height: 120px;
  }

  .cart-product-text h3 {
    font-size: 15px;
  }

  .cart-product-text p {
    font-size: 12px;
    margin-top: 8px;
  }

  .quantity {
    margin-right: 10px;
  }

  .quantity button {
    font-size: 14px;
    padding: 7px 10px;
  }

  .quantity span {
    padding: 0 10px;
  }

  .remove {
    font-size: 16px;
    margin-left: 15px;
  }

  .cart-summary {
    font-size: 14.5px;
    padding: 30px;
    gap: 15px;
  }

  .checkout-btn {
    padding: 15px;
    margin-top: 10px;
  }
}

@media (max-width: 750px) {
  .cart-page {
    padding: 80px 40px;
    min-height: 100vh;
  }

  .cart-title {
    font-size: 22px;
  }

  .cart-container {
    flex-direction: column;
    gap: 40px;
  }

  .col-price,
  .col-qty,
  .col-total,
  .header-label {
    font-size: 15px;
  }

  .cart-row .col-price,
  .cart-row .col-total,
  .cart-row .product-text h3,
  .cart-row .product-text p {
    font-size: 12px;
  }

  .cart-container {
    padding: 0px;
    gap: 30px;
  }

  .cart-product-info {
    padding: 0px;
    gap: 10px;
  }

  .cart-product-img {
    width: 110px;
    height: 120px;
  }

  .cart-product-img img {
    width: 32px;
    height: 110px;
  }

  .cart-product-text h3 {
    font-size: 15px;
  }

  .cart-product-text p {
    font-size: 12px;
    margin-top: 8px;
  }

  .quantity {
    margin-right: 10px;
  }

  .quantity button {
    font-size: 14px;
    padding: 7px 10px;
  }

  .quantity span {
    padding: 0 10px;
  }

  .remove {
    font-size: 16px;
    margin-left: 15px;
  }

  .cart-summary {
    font-size: 14.5px;
    padding: 30px;
    gap: 10px;
  }

  .checkout-btn {
    padding: 15px;
    margin-top: 7px;
  }
}

@media (max-width: 640px) {
  .cart-page {
    padding: 60px 20px;
    min-height: 100vh;
  }

  .cart-title {
    font-size: 22px;
  }

  .cart-container {
    flex-direction: column;
    gap: 40px;
  }

  .col-price,
  .col-qty,
  .col-total,
  .header-label {
    font-size: 15px;
  }

  .cart-row .col-price,
  .cart-row .col-total,
  .cart-row .product-text h3,
  .cart-row .product-text p {
    font-size: 11.5px;
  }

  .cart-container {
    padding: 0px;
    gap: 30px;
  }

  .cart-product-info {
    padding: 0px;
    gap: 10px;
  }

  .cart-product-img {
    width: 100px;
    height: 100px;
  }

  .cart-product-img img {
    width: 28px;
    height: 90px;
  }

  .cart-product-text h3 {
    font-size: 15px;
  }

  .cart-product-text p {
    font-size: 12px;
    margin-top: 8px;
  }

  .quantity {
    margin-right: 10px;
  }

  .quantity button {
    font-size: 14px;
    padding: 7px 10px;
  }

  .quantity span {
    padding: 0 10px;
  }

  .remove {
    font-size: 16px;
    margin-left: 15px;
  }

  .cart-summary {
    font-size: 14px;
    gap: 9px;
  }

  .checkout-btn {
    padding: 15px;
    margin-top: 7px;
  }
}

@media (max-width: 580px) {
  .cart-page {
    padding: 60px 13px;
    min-height: 100vh;
  }

  .cart-title {
    font-size: 20px;
  }

  .cart-container {
    flex-direction: column;
  }

  .col-price,
  .col-qty,
  .col-total,
  .header-label {
    font-size: 14px;
  }

  .cart-row .col-price,
  .cart-row .col-total,
  .cart-row .product-text h3,
  .cart-row .product-text p {
    font-size: 10.5px;
  }

  .cart-product-info {
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 0px;
    gap: 8px;
  }

  .cart-product-img {
    width: 90px;
    height: 100px;
  }

  .cart-product-img img {
    width: 25px;
    height: 90px;
  }

  .cart-product-text h3 {
    font-size: 15px;
  }

  .cart-product-text p {
    font-size: 12px;
    margin-top: 8px;
  }

  .quantity {
    margin-right: 10px;
  }

  .quantity button {
    font-size: 14px;
    padding: 7px 10px;
  }

  .quantity span {
    padding: 0 4px;
  }

  .remove {
    font-size: 15px;
    margin-left: 10px;
  }

  .cart-summary {
    font-size: 13.5px;
    gap: 9px;
  }

  .checkout-btn {
    padding: 15px;
    margin-top: 7px;
  }
}

@media (max-width: 450px) {
  .cart-page {
    padding: 60px 10px;
    min-height: 100vh;
  }

  .cart-title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .cart-container {
    flex-direction: column;
  }

  .col-price,
  .col-qty,
  .col-total,
  .header-label {
    font-size: 11px;
  }

  .cart-row .col-price,
  .cart-row .col-total,
  .cart-row .product-text h3,
  .cart-row .product-text p {
    font-size: 9px;
  }

  .cart-product-info {
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 0px;
    gap: 6px;
  }

  .cart-cart-product-img {
    margin-left: -15px;
    width: 100px;
    height: 90px;
  }

  .cart-product-img img {
    width: 24px;
    height: 80px;
  }

  .cart-product-text p {
    margin-top: 8px;
  }

  .quantity {
    margin-right: 8px;
  }

  .quantity button {
    font-size: 8px;
    padding: 4px 8px;
  }

  .quantity span {
    padding: 0 0px;
  }

  .remove {
    font-size: 10px;
  }

  .cart-summary {
    font-size: 12px;
    gap: 9px;
  }

  .checkout-btn {
    padding: 13px;
    margin-top: 4px;
  }
}

@media (max-width: 400px) {
  .cart-page {
    padding: 60px 10px;
    min-height: 100vh;
  }

  .cart-title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .cart-container {
    flex-direction: column;
  }

  .col-price,
  .col-qty,
  .col-total,
  .header-label {
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 9px;
  }

  .cart-row .col-price,
  .cart-row .col-total,
  .cart-row .product-text h3,
  .cart-row .product-text p {
    font-size: 7.3px;
  }

  .cart-product-info {
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 0px;
    gap: 6px;
  }

  .cart-product-img {
    margin-left: -15px;
    width: 100px;
    height: 90px;
  }

  .cart-product-img img {
    width: 24px;
    height: 80px;
  }

  .cart-product-text p {
    margin-top: 8px;
  }

  .quantity {
    margin-right: 8px;
  }

  .quantity button {
    font-size: 8px;
    padding: 4px 8px;
  }

  .quantity span {
    padding: 0 0px;
  }

  .remove {
    font-size: 10px;
  }

  .cart-summary {
    font-size: 12px;
    gap: 9px;
  }

  .checkout-btn {
    padding: 13px;
    margin-top: 4px;
  }
}