.filter-page {
  padding: 20px;
  color: white;
}

.filter-title {
  font-size: 28px;
  margin-bottom: 30px;
  border-bottom: 2px solid #7A0000;
  padding-bottom: 10px;
}

.add-filter-box {
  background: #111;
  padding: 20px;
  border: 1px solid #7A0000;
  width: 400px;
  margin-bottom: 30px;
}

.add-filter-box h3 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #ff9999;
}

.add-filter-box input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #444;
  font-size: 15px;
}

.add-filter-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: #7A0000;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.add-filter-btn:hover {
  background: #b30707;
}

.filter-list {
  margin-top: 70px;
}

.filter-list h3 {
  margin-top: 70px;
  color: rgb(200, 119, 119);
}

.filter-list p {
  margin-top: 10px;
  color: rgb(6, 113, 22);
}

.filter-item-default {
  background: #1A1A1A;
  padding: 12px;
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  color: #ccc;
}

.filter-item {
  display: flex;
  justify-content: space-between;
  background: #1A1A1A;
  padding: 12px;
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
  align-items: center;
}

.del-btn {
  background: #a00000;
  border: none;
  padding: 6px 12px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.del-btn:hover {
  background: #d30000;
}

.lock {
  color: #777;
  font-size: 13px;
  padding-left: 10px;
}

.option-list {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.option-item {
  background: #333;
  padding: 5px 8px;
  display: flex;
  align-items: center;
}

.option-item .small {
  margin-left: 6px;
  padding: 2px 6px;
  font-size: 12px;
}

.option-add-row {
  margin-top: 10px;
  display: flex;
  gap: 6px;
}

.add-option {
  padding: 6px 12px;
  background: #7A0000;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.option-add-row input {
  flex: 1;
  padding: 6px;
  border: 1px solid #555;
}