@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.slider {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.slide:nth-child(2) {
  height: 400px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 110%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 2;
}

.combined-slide {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
}

.bottle-img {
  width: 50%;
  height: 100%;
}

.banner-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-bg {
  width: 125%;
  height: 110%;
  object-fit: cover;
  clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%);
}

.banner-text {
  position: absolute;
  text-align: center;
  max-width: 76%;
  padding-bottom: 40px;
}

.banner-text h3,
.content-right h3 {
  font-family: "Alex Brush";
  font-weight: 400;
  font-size: 70px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.banner-text h2,
.content-right h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.25;
  margin-bottom: 38px;
}

.banner-text .bottom-text,
.slide-bg .bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 19px;
  opacity: 0.7;
}

.slide-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.content-right {
  position: absolute;
  text-align: center;
  max-width: 40%;
  right: 6%;
  padding-top: 62px;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 44px;
  height: 44px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.arrow-btn.left {
  left: 10px;
}

.arrow-btn.right {
  right: 10px;
}

.arrow-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

@media (max-width: 1550px) {
  .slider {
    height: 320px;
  }

  .slide:nth-child(2) {
    height: 320px;
  }

  .slide {
    width: 100%;
    height: 100%;
  }

  .banner-bg {
    width: 110%;
    height: 110%;
  }

  .banner-text {
    max-width: 76%;
    padding-bottom: 0px;
  }

  .banner-text h3,
  .content-right h3 {
    font-size: 70px;
    margin-bottom: 10px;
  }

  .banner-text h2,
  .content-right h2 {
    font-size: 44px;
    margin-bottom: 30px;
  }

  .banner-text .bottom-text,
  .slide-bg .bottom-text {
    font-size: 17px;
  }

  .content-right {
    max-width: 40%;
    right: 6%;
    padding-top: 20px;
  }

  .arrow-btn {
    width: 55px;
    height: 55px;
  }

  .arrow-btn.left {
    left: 12px;
  }

  .arrow-btn.right {
    right: 12px;
  }
}

@media (max-width: 1385px) {
  .slider {
    height: 280px;
  }

  .slide:nth-child(2) {
    height: 280px;
  }

  .slide {
    width: 100%;
    height: 100%;
  }

  .banner-bg {
    width: 110%;
    height: 110%;
  }

  .banner-text {
    max-width: 76%;
    padding-bottom: 0px;
  }

  .banner-text h3,
  .content-right h3 {
    font-size: 68px;
    margin-bottom: 10px;
  }

  .banner-text h2,
  .content-right h2 {
    font-size: 42px;
    margin-bottom: 25px;
  }

  .banner-text .bottom-text,
  .slide-bg .bottom-text {
    font-size: 17px;
  }

  .content-right {
    max-width: 40%;
    right: 6%;
    padding-top: 20px;
  }
}

@media (max-width: 1280px) {
  .slider {
    height: 270px;
  }

  .slide:nth-child(2) {
    height: 270px;
  }

  .slide {
    width: 100%;
    height: 100%;
  }

  .banner-bg {
    width: 120%;
    height: 110%;
  }

  .banner-text {
    max-width: 80%;
    padding-bottom: 0px;
  }

  .banner-text h3,
  .content-right h3 {
    font-size: 62px;
    margin-bottom: 10px;
  }

  .banner-text h2,
  .content-right h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .banner-text .bottom-text,
  .slide-bg .bottom-text {
    font-size: 15px;
  }

  .content-right {
    max-width: 40%;
    right: 6%;
    padding-top: 20px;
  }
}

@media (max-width: 1055px) {
  .slider {
    height: 270px;
  }

  .slide:nth-child(2) {
    height: 270px;
  }

  .slide {
    width: 100%;
    height: 100%;
  }

  .banner-bg {
    width: 120%;
    height: 107%;
  }

  .banner-text {
    max-width: 80%;
    padding-bottom: 0px;
  }

  .banner-text h3,
  .content-right h3 {
    font-size: 60px;
    margin-bottom: 10px;
  }

  .banner-text h2,
  .content-right h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .banner-text .bottom-text,
  .slide-bg .bottom-text {
    font-size: 15px;
  }

  .content-right {
    max-width: 40%;
    right: 5%;
    padding-top: 35px;
  }

  .arrow-btn {
    width: 50px;
    height: 50px;
  }

  .arrow-btn.left {
    left: 10px;
  }

  .arrow-btn.right {
    right: 10px;
  }
}

@media (max-width: 940px) {
  .slider {
    height: 230px;
  }

  .slide:nth-child(2) {
    height: 230px;
  }

  .slide {
    width: 100%;
    height: 100%;
  }

  .banner-bg {
    width: 120%;
    height: 107%;
  }

  .banner-text {
    max-width: 90%;
    padding-bottom: 0px;
  }

  .banner-text h3,
  .content-right h3 {
    font-size: 52px;
    margin-bottom: 10px;
  }

  .banner-text h2,
  .content-right h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .banner-text .bottom-text,
  .slide-bg .bottom-text {
    font-size: 12px;
  }

  .content-right {
    max-width: 50%;
    right: 4%;
    padding-top: 30px;
  }

  .arrow-btn {
    width: 40px;
    height: 40px;
  }

  .arrow-btn.left {
    left: 10px;
  }

  .arrow-btn.right {
    right: 10px;
  }
}

@media (max-width: 755px) {
  .slider {
    height: 190px;
  }

  .slide:nth-child(2) {
    height: 190px;
  }

  .slide {
    width: 100%;
    height: 100%;
  }

  .banner-bg {
    width: 125%;
    height: 107%;
  }

  .banner-text {
    max-width: 80%;
    padding-bottom: 0px;
  }

  .banner-text h3,
  .content-right h3 {
    font-size: 48px;
    margin-bottom: 10px;
  }

  .banner-text h2,
  .content-right h2 {
    font-size: 22px;
    margin-bottom: 11px;
  }

  .banner-text .bottom-text,
  .slide-bg .bottom-text {
    font-size: 13;
  }

  .content-right {
    max-width: 50%;
    right: 2%;
    padding-top: 20px;
  }

  .arrow-btn {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 665px) {
  .slider {
    height: 180px;
  }

  .slide:nth-child(2) {
    height: 180px;
  }

  .slide {
    width: 100%;
    height: 100%;
  }

  .banner-bg {
    width: 125%;
    height: 107%;
  }

  .banner-text {
    max-width: 90%;
    padding-bottom: 0px;
  }

  .banner-text h3,
  .content-right h3 {
    font-size: 48px;
    margin-bottom: 10px;
  }

  .banner-text h2,
  .content-right h2 {
    font-size: 21px;
    margin-bottom: 11px;
  }

  .banner-text .bottom-text,
  .slide-bg .bottom-text {
    font-size: 13;
  }

  .content-right {
    max-width: 50%;
    right: 2%;
    padding-top: 15px;
  }

  .arrow-btn {
    width: 35px;
    height: 35px;
  }

  .arrow-btn.left {
    left: 6px;
  }

  .arrow-btn.right {
    right: 6px;
  }
}

@media (max-width: 585px) {
  .slider {
    height: 150px;
  }

  .slide:nth-child(2) {
    height: 150px;
  }

  .slide {
    width: 100%;
    height: 100%;
  }

  .banner-bg {
    width: 125%;
    height: 107%;
  }

  .banner-text {
    max-width: 90%;
    padding-bottom: 0px;
  }

  .banner-text h3,
  .content-right h3 {
    font-size: 38px;
    margin-bottom: 8px;
  }

  .banner-text h2,
  .content-right h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .banner-text .bottom-text,
  .slide-bg .bottom-text {
    font-size: 10px;
  }

  .content-right {
    max-width: 50%;
    right: 3%;
    padding-top: 10px;
  }

  .arrow-btn {
    width: 34px;
    height: 34px;
  }

  .arrow-btn.left {
    left: 7px;
  }

  .arrow-btn.right {
    right: 7px;
  }
}

@media (max-width: 485px) {
  .slider {
    height: 140px;
  }

  .slide:nth-child(2) {
    height: 140px;
  }

  .slide {
    width: 100%;
    height: 100%;
  }

  .bottle-img {
    width: 45%;
    height: 100%;
  }

  .banner-bg {
    width: 120%;
    height: 107%;
  }

  .banner-text {
    max-width: 100%;
  }

  .banner-text h3,
  .content-right h3 {
    font-size: 35px;
    margin-bottom: 8px;
  }

  .banner-text h2,
  .content-right h2 {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .banner-text .bottom-text,
  .slide-bg .bottom-text {
    font-size: 8px;
  }

  .content-right {
    max-width: 50%;
    right: 3%;
    padding-top: 20px;
  }

  .arrow-btn {
    width: 30px;
    height: 30px;
  }

  .arrow-btn.left {
    left: 3px;
  }

  .arrow-btn.right {
    right: 3px;
  }
}

@media (max-width: 415px) {
  .slider {
    height: 125px;
  }

  .slide:nth-child(2) {
    height: 125px;
  }

  .slide {
    width: 100%;
    height: 100%;
  }

  .banner-bg {
    width: 125%;
    height: 107%;
  }

  .banner-text {
    max-width: 100%;
    padding-bottom: 0px;
  }

  .banner-text h3,
  .content-right h3 {
    font-size: 33px;
    margin-bottom: 8px;
  }

  .banner-text h2,
  .content-right h2 {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .banner-text .bottom-text,
  .slide-bg .bottom-text {
    font-size: 10px;
  }

  .content-right {
    max-width: 60%;
    right: 0%;
    padding-top: 15px;
  }

  .arrow-btn {
    width: 23px;
    height: 23px;
  }

  .arrow-btn.left {
    left: 2px;
  }

  .arrow-btn.right {
    right: 2px;
  }
}

@media (max-width: 361px) {
  .slider {
    height: 120px;
  }

  .slide:nth-child(2) {
    height: 120px;
  }

  .slide {
    width: 100%;
    height: 100%;
  }

  .bottle-img {
    width: 45%;
    height: 100%;
  }

  .banner-bg {
    width: 130%;
    height: 107%;
  }

  .banner-text {
    max-width: 100%;
    padding-bottom: 0px;
  }

  .banner-text h3,
  .content-right h3 {
    font-size: 30px;
    margin-bottom: 8px;
  }

  .banner-text h2,
  .content-right h2 {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .banner-text .bottom-text,
  .slide-bg .bottom-text {
    font-size: 8px;
  }

  .content-right {
    max-width: 60%;
    right: 1%;
    padding-top: 13px;
  }

  .arrow-btn {
    width: 25px;
    height: 25px;
  }

  .arrow-btn.left {
    left: 0px;
  }

  .arrow-btn.right {
    right: 0px;
  }
}